html, body
{
	height: 100%;
}

#content {
	position: relative;
	height: 100%;
	min-width: 1152px;
}

#content div#help {
    position: fixed;
    top: 0px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.blandme {
	background: none;
}

/* Menu Code */
div.menu-container {
  background: black;
  min-width: 48px !important;
  max-width: 64px !important;
}

ul.menu {
  display: block;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 20px;
}

ul.menu li {
  display: block;
  text-align: center; 
  text-align: center;
  list-style-type: none;
  padding: 25% 0%;
  margin: 0 12.5%;
}

ul.menu li button {
	padding-left: -5px;
	background: white;
	width: 100%;
	margin: 0;
}

/* OBJ Container */
div.obj-container {
	min-width: 1104px;
	height: 100%
}

	/* Header */
	.header {
	     margin: 0;
	     color: #333;
	     text-align: left;
	     padding: 0.5em 2em 0;
	     border-bottom: 1px solid #eee;
	     height: 12%;
	     max-height: 6em;
	 }
	    .header h1 {
	        margin: 0.2em 0;
	        font-size: 2em;
	        font-weight: 300;
	    }
	     .header h2 {
	        font-weight: 300;
	        font-size: 1.2em;
	        color: #ccc;
	        padding: 0;
	        margin-top: 0;
	    }


    #modal-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1000;
    }
    
    #modal-content {
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: 0 0 20px 0 #222;
        -webkit-box-shadow: 0 0 20px 0 #222;
        -moz-box-shadow: 0 0 20px 0 #222;
        display: none;
        /*height: 240px;*/
        left: 50%;
        margin: -120px 0 0 -160px;
        padding: 10px;
        position: absolute;
        top: 50%;
        width: 320px;
        z-index: 1000;
    }

    #modal-background.active, #modal-content.active {
        display: block;
    }

    .register {
    	float:right;
    }

/* highlight anything */
@-moz-keyframes blink {25%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {25%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {25%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {25%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
.glow {
border:1px solid #000;
-moz-transition:all 1s ease-in-out;
-webkit-transition:all 1s ease-in-out;
-o-transition:all 1s ease-in-out;
-ms-transition:all 1s ease-in-out;
transition:all 1s ease-in-out;
/* order: name, direction, duration, iteration-count, timing-function */   
-moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
-webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
-ms-animation:blink normal 2s infinite ease-in-out; /* IE */
animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}​