/* Plug ins */
.plugins {
	height: 88%;
	margin-left: 2em;
	margin-right: 0em;
	min-height: 352px;
}

.plugins textarea {
	resize: none;
	border: solid lightgray 1px;
}

.plugins #question-box{
	padding: 10px 15px;
	width: 25%;
	height: 100%;
	overflow: auto;
	float: left;
}

.plugins .toggles {
	float: left;
	width: 55%;
	height: 100%;
	overflow-x: none; 
}

.toggles #video-box {
	width: 100%;
	height: 33%;
}

	#video-box .vids, #video-box #remotes {
		width: 50%;
		height: 100%;
		float: left;
		background: black;
	}

	#video-box #remotes video {
		width: 100%;
		height: 100%;
	}
	
.toggles .code-box {
	width: 49.5%;
	height: 67%;
	float: left;
	overflow: hidden;
	position: relative;
}

#remote-code-box {
	float:right;
}

	.toggles .code-box .code-button {
		position: relative;
		top: -40px;
		margin: 5px;
	}
	textarea.code {
		width: 100%;
		height: 100%;
	}
	div.run-result-wrapper {
		background: lightgray;
		height: 5%;
		width: 100%;
		overflow-y: auto;
		position: relative;
	}
	div.code-wrapper {
		height: 95%;
		width: 100%;
	}

	div.code-box a i {
		position: absolute;
		top: 0px;
		right: 5px;
		z-index: 1;
	}

	div.run-result {
		background: inherit;
		width: 100%;
		overflow-x: wrap;
		overflow-y: auto;
		margin: 0;
		/*height: 100%;*/
	}

.plugins #chat-box {
	float: right;
	width: 20%;
	height: 100%;
	overflow: hidden;
}
	#chat-box #partnerInfo {
		width: 100%;
		height: 10%;
		background: lightgray;
	}

	#partnerInfo #partnerImg {
		height: 100%;
		float: left;
	}
	#partnerInfo #partnerImg img {
		height: 100%;
	}
	#partnerInfo #partnerData {
			padding-left: 5px;
			float: left;
	}

	#chat-box textarea {
		width: 100%;
		height: 15%;
	}

	#chat-box #conversation {
		padding-right: 20px; 
		width: 100%;
		height: 75%;
		overflow-x: wrap;
		overflow-y: auto; 
	}
	#conversation .message {
		font-size: 1em;
		margin: 0;
		padding: 1px 5px;
	}

	.message-alert {
		font-style: italic;
    }
    .message .c_remote {
    	font-weight: bold;
    	color: red;
    }
    .message .c_self {
    	font-weight: bold;
    	color: blue;
    }